{% extends 'innogrApp/base.html' %}

{% load static %}


{% block pagebody %}

 
          <div class="row">
            <div class="col-md-8 h-100">
              <h6 class="card-title">
                <i class="far fa-futbol"></i>
                Current Trends In Agriculture
              </h6>
              <div id="profile-list-left" class="py-2">
                {% for post in posts %}

                <div class="card rounded mb-2">
                  <div class="card-body p-3">
                   
                    <div class="media">
                      
                      <img src="{% static 'innogrApp/images/carousel/banner_8.jpg' %}" alt="image" class="img-pk mr-3">
                      <div class="media-body">
                        <p class="small text-muted mt-2 mb-0" style="padding-bottom: 5px;">
                          <span style="color: red; font-size: 15px;">
                            {{post.author}}
                          </span>
                          <span class="mb-2">
                            {{post.date_posted}}
                          </span>
                          
                        </p>
                        <h5 class="mb-2" >{{post.title}}</h5>
                       
                        <p class="mb-0 text-muted">
                         {{post.content}}
                        </p>
                      </div>
                    </div>
                    <div class="post-button">
                    
                      <button type="button" class="btn btn-info btn-fw btn-sm">More</button>
                    </div>
                  </div>

                </div>


                {% endfor %}

                <div class="card rounded mb-2">
                  <div class="card-body p-3">
                   
                    <div class="media">
                      
                      <img src="{% static 'innogrApp/images/carousel/banner_8.jpg' %}" alt="image" class="img-pk mr-3">
                      <div class="media-body">
                        <p class="small text-muted mt-2 mb-0" style="padding-bottom: 5px;">
                          <span style="color: red; font-size: 15px;">
                            Patrick
                          </span>
                          <span class="mb-2">
                            August 27, 2018
                          </span>
                          
                        </p>
                        <h5 class="mb-2" >Rebecca young</h5>
                       
                        <p class="mb-0 text-muted">
                          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum voluptatem quisquam vero culpa
                          quasi nesciunt at quibusdam cumque harum. Odio voluptas ullam enim sit cumque debitis
                          cupiditate maiores deleniti esse! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          Vitae suscipit rem aliquam. Fugiat dolores libero mollitia, perferendis sit rerum debitis
                          tempore, ad earum maiores veritatis fugit eaque, rem cupiditate eveniet?
                        </p>
                      </div>
                    </div>
                    <div class="post-button">
                      <p class="small text-muted mt-2 mb-0">
                        <span>
                          <i class="fa fa-star mr-1"></i>Patrick
                        </span>
                        <span class="ml-2">
                          <i class="fa fa-comment mr-1"></i>August 27, 2018
                        </span>
                        <span class="ml-2">
                          <i class="fa fa-mail-reply"></i>
                        </span>
                      </p>
                      <button type="button" class="btn btn-info btn-fw btn-sm">More</button>
                    </div>
                  </div>

                </div>
                <div class="card rounded mb-2">
                  <div class="card-body p-3">
                    <div class="media">
                      <img src="{% static 'innogrApp/images/carousel/banner_3.jpg' %}" alt="image" class="img-pk mr-3">
                      <div class="media-body">
                        <h6 class="mb-1">Jacob march</h6>

                        <p class="mb-0 text-muted">
                          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, ipsum doloremque eum
                          asperiores eius recusandae aspernatur alias fugit maxime rerum, officia quibusdam. Ex
                          reprehenderit optio quae, quia est vero ducimus.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod possimus mollitia ipsa error
                          ducimus aliquam, molestiae cupiditate tempora dicta quam, suscipit incidunt cum perferendis
                          deserunt exercitationem labore? Eos, at? Earum?
                        </p>
                      </div>
                    </div>
                    <div class="post-button">
                      <p class="small text-muted mt-2 mb-0">
                        <span>
                          <i class="fa fa-star mr-1"></i>4
                        </span>
                        <span class="ml-2">
                          <i class="fa fa-comment mr-1"></i>11
                        </span>
                        <span class="ml-2">
                          <i class="fa fa-mail-reply"></i>
                        </span>
                      </p>
                      <button type="button" class="btn btn-info btn-fw btn-sm">More</button>
                    </div>
                  </div>
                </div>
                <div class="card rounded mb-2">
                  <div class="card-body p-3">
                    <div class="media">
                      <img src="{% static 'innogrApp/images/carousel/banner_6.jpg' %}" alt="image" class="img-pk mr-3">
                      <div class="media-body">
                        <h6 class="mb-1">Catherine</h6>

                        <p class="mb-0 text-muted">
                          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, ipsum doloremque eum
                          asperiores eius recusandae aspernatur alias fugit maxime rerum, officia quibusdam. Ex
                          reprehenderit optio quae, quia est vero ducimus.
                        </p>
                      </div>
                    </div>
                    <div class="post-button">
                      <p class="small text-muted mt-2 mb-0">
                        <span>
                          <i class="fa fa-star mr-1"></i>4
                        </span>
                        <span class="ml-2">
                          <i class="fa fa-comment mr-1"></i>11
                        </span>
                        <span class="ml-2">
                          <i class="fa fa-mail-reply"></i>
                        </span>
                      </p>
                      <button type="button" class="btn btn-info btn-fw btn-sm">More</button>
                    </div>
                  </div>
                </div>
                <div class="card rounded mb-2">
                  <div class="card-body p-3">
                    <div class="media">
                      <img src="{% static 'innogrApp/images/carousel/banner_1.jpg' %}" alt="image" class="img-pk mr-3">
                      <div class="media-body">
                        <h6 class="mb-1">Thomas Cook</h6>

                        <p class="mb-0 text-muted">
                          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, ipsum doloremque eum
                          asperiores eius recusandae aspernatur alias fugit maxime rerum, officia quibusdam. Ex
                          reprehenderit optio quae, quia est vero ducimus. Lorem ipsum dolor sit amet consectetur
                          adipisicing elit. Itaque, aspernatur! Nostrum quidem aliquid maiores maxime consequuntur eum
                          magnam! Eum corporis accusantium itaque vero voluptatem necessitatibus et aut quae deleniti a?
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum vero amet enim aperiam culpa?
                          Dolorem perferendis reprehenderit ullam vero adipisci quasi enim doloremque, rem nemo
                          cupiditate aliquid optio beatae tempora?
                        </p>

                      </div>
                    </div>

                    <div class="post-button">
                      <p class="small text-muted mt-2 mb-0">
                        <span>
                          <i class="fa fa-star mr-1"></i>4
                        </span>
                        <span class="ml-2">
                          <i class="fa fa-comment mr-1"></i>11
                        </span>
                        <span class="ml-2">
                          <i class="fa fa-mail-reply"></i>
                        </span>
                      </p>
                      <button type="button" class="btn btn-info btn-fw btn-sm">More</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4 h-100">
              <h6 class="card-title">
                <i class="far fa-futbol"></i>
                Recent Posts</h6>
              <div id="profile-list-right" class="py-2">
                <div class="card rounded mb-2">
                  <div class="card-body p-3">
                    <div class="media">
                      <img src="{% static 'innogrApp/images/faces/face5.jpg' %}" alt="image" class="img-sm mr-3 rounded-circle">
                      <div class="media-body">
                        <h6 class="mb-1">Keto Philip</h6>
                        <p class="mb-0 text-muted">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum maiores, sint quos
                          perferendis itaque libero doloribus alias minus vero laudantium ea excepturi nam, magnam animi
                          possimus reiciendis dolor incidunt atque.
                        </p>
                        <p class="small text-muted mt-2 mb-0">
                          <span>
                            <i class="fa fa-star mr-1"></i>4
                          </span>
                          <span class="ml-2">
                            <i class="fa fa-comment mr-1"></i>11
                          </span>
                          <span class="ml-2">
                            <i class="fa fa-mail-reply"></i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card rounded mb-2">
                  <div class="card-body p-3">
                    <div class="media">
                      <img src="{% static 'innogrApp/images/faces/face6.jpg' %}" alt="image" class="img-sm mr-3 rounded-circle">
                      <div class="media-body">
                        <h6 class="mb-1">Jacob Stephen</h6>
                        <p class="mb-0 text-muted">
                          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur modi error fugit fuga,
                          consequatur, similique unde porro id esse magnam quas natus tempore. Amet repellendus optio
                          harum delectus nam modi?
                        </p>
                        <p class="small text-muted mt-2 mb-0">
                          <span>
                            <i class="fa fa-star mr-1"></i>4
                          </span>
                          <span class="ml-2">
                            <i class="fa fa-comment mr-1"></i>11
                          </span>
                          <span class="ml-2">
                            <i class="fa fa-mail-reply"></i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card rounded mb-2">
                  <div class="card-body p-3">
                    <div class="media">
                      <img src="{% static 'innogrApp/images/faces/face7.jpg' %}" alt="image" class="img-sm mr-3 rounded-circle">
                      <div class="media-body">
                        <h6 class="mb-1">March Creg</h6>
                        <p class="mb-0 text-muted">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, veniam rem facilis repellat
                          accusamus dicta modi dolores id nam magnam atque odio mollitia et minus, quibusdam, quod
                          delectus dolorum quaerat!
                        </p>
                        <p class="small text-muted mt-2 mb-0">
                          <span>
                            <i class="fa fa-star mr-1"></i>4
                          </span>
                          <span class="ml-2">
                            <i class="fa fa-comment mr-1"></i>11
                          </span>
                          <span class="ml-2">
                            <i class="fa fa-mail-reply"></i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card rounded mb-2">
                  <div class="card-body p-3">
                    <div class="media">
                      <img src="{% static 'innogrApp/images/faces/face8.jpg' %}" alt="image" class="img-sm mr-3 rounded-circle">
                      <div class="media-body">
                        <h6 class="mb-1">Peter Beckham</h6>
                        <p class="mb-0 text-muted">
                          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque quis quidem amet beatae
                          adipisci cumque quisquam, rerum unde nostrum asperiores consequuntur ex? Exercitationem totam
                          dicta culpa libero quisquam eveniet. Fugiat.
                        </p>
                        <p class="small text-muted mt-2 mb-0">
                          <span>
                            <i class="fa fa-star mr-1"></i>4
                          </span>
                          <span class="ml-2">
                            <i class="fa fa-comment mr-1"></i>11
                          </span>
                          <span class="ml-2">
                            <i class="fa fa-mail-reply"></i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

{% endblock pagebody %}