{% extends 'innogrApp/base.html' %}

{% load static %}

{% block pagebody %}
<div class="page-header">
  <h3 class="page-title">
    Dashboard
  </h3>
</div>
<div class="row grid-margin">
  <div class="col-12">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
          <div class="statistics-item">
            <p>
              <i class="icon-sm fa fa-user mr-2"></i>
              Temp
            </p>
            <h2>37&#x2103;</h2>
            <label class="badge badge-outline-success badge-pill">2.7% increase</label>
          </div>
          <div class="statistics-item">
            <p>
              <i class="icon-sm fas fa-hourglass-half mr-2"></i>
              Humidity
            </p>
            <h2>87%</h2>
            <label class="badge badge-outline-danger badge-pill">30% decrease</label>
          </div>
          <div class="statistics-item">
            <p>
              <i class="icon-sm fas fa-cloud-download-alt mr-2"></i>
              Water Level
            </p>
            <h2>35%</h2>
            <label class="badge badge-outline-success badge-pill">12% increase</label>
          </div>
          <div class="statistics-item">
            <p>
              <i class="icon-sm fas fa-check-circle mr-2"></i>
              AV PH
            </p>
            <h2>3.4pH</h2>
            <label class="badge badge-outline-success badge-pill">57% increase</label>
          </div>
          <div class="statistics-item">
            <p>
              <i class="icon-sm fas fa-chart-line mr-2"></i>
              Light Int
            </p>
            <h2>200Lux</h2>
            <label class="badge badge-outline-success badge-pill">10% increase</label>
          </div>
          <div class="statistics-item">
            <p>
              <i class="icon-sm fas fa-circle-notch mr-2"></i>
              Soil
            </p>
            <h2>45%</h2>
            <label class="badge badge-outline-danger badge-pill">16% decrease</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <i class="fas fa-gift"></i>
          Water Level and Soil Water Retention Variation
        </h4>
        <canvas id="orders-chart"></canvas>
        <div id="orders-chart-legend" class="orders-chart-legend"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <i class="fas fa-chart-line"></i>
          Temperature and Humidity Variations
        </h4>
        <h2 class="mb-5">42<span class="text-muted h4 font-weight-normal">&#x2103; High</span></h2>
        <canvas id="sales-chart"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex flex-column">
        <h4 class="card-title">
          <i class="fas fa-chart-pie"></i>
          Market Value
        </h4>
        <div class="flex-grow-1 d-flex flex-column justify-content-between">
          <canvas id="sales-status-chart" class="mt-3"></canvas>
          <div class="pt-4">
            <div id="sales-status-chart-legend" class="sales-status-chart-legend"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <i class="icon-sm fas fa-cloud-download-alt mr-2"></i>

          Sensor Updates
        </h4>
        <ul class="solid-bullet-list">
          <li>
            <h6>Temperature Sensor</h6>
            <p>Lorem Ipsum is simply dummy text of the printing </p>
            <p class="text-muted">
              <i class="far fa-clock"></i>
              2 mins ago.
            </p>
          </li>
          <li>
            <h6>Water Level</h6>
            <p>Lorem Ipsum is simply dummy text of the printing </p>
            <p class="text-muted">
              <i class="far fa-clock"></i>
              20 mins ago.
            </p>
          </li>
          <li>
            <h6>Humidity Sensor</h6>
            <p>Lorem Ipsum is simply dummy text of the printing </p>
            <p class="text-muted">
              <i class="far fa-clock"></i>
              30 mins ago.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="col-md-4 grid-margin stretch-card">
    <div class="card text-center">

      <div class="card-body">
        <h4 class="card-title" style="text-align: left;">
          <i class="fas fa-tachometer-alt"></i>
          Recommended User
        </h4>

        <img src="{% static 'innogrApp/images/faces/face5.jpg' %}" class="img-lg rounded-circle mb-2" alt="profile image">
        <h4>Maria Johnson</h4>
        <p class="text-muted">Developer / Agribusiness</p>
        <p class="mt-4 card-text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Lorem
        </p>
        <button class="followbtn btn btn-sm mt-3 mb-4">Follow</button>
        <div class="border-top pt-3">
          <div class="row">
            <div class="col-4">
              <h6>5896</h6>
              <p>Post</p>
            </div>
            <div class="col-4">
              <h6>1596</h6>
              <p>Followers</p>
            </div>
            <div class="col-4">
              <h6>7896</h6>
              <p>Likes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 h-100">
    <h6 class="card-title">
      <i class="far fa-futbol"></i>
      Current Trends In Agriculture
    </h6>
    <div id="profile-list-left" class="py-2">
      {% for post in posts %}

      <div class="card rounded mb-2">
        <div class="card-body p-3">
          <div class="media">
            <img src="{% static 'innogrApp/images/faces/face5.jpg' %}" alt="image"
              class="img-pk mr-3 mb-3 rounded-circle">
            <div class="media-body">
              <h6 class="mb-1">{{post.author}}</h6>
              <p>{{post.date_posted|date:"F d, Y"}}</p>
            </div>
          </div>
          <h6 class="mb-2">{{post.title}}</h6>

          <p class="mb-0 text-muted">
            {{post.content}}
          </p>
          <div class="post-button">
            <p class="small text-muted mt-2 mb-0">
              <span>
                <i class="fa fa-star mr-1"></i>4
              </span>
              <span class="ml-2">
                <i class="fa fa-comment mr-1"></i>11
              </span>
              <span class="ml-2">
                <i class="fa fa-mail-reply"></i>
              </span>
            </p>
            <button type="button" class="btn btn-info btn-fw btn-sm">More</button>
          </div>
        </div>

      </div>

      {% endfor %}

    </div>

  </div>
  <div class="col-md-4 h-100">
    <h6 class="card-title">
      <i class="far fa-futbol"></i>
      Recent Posts</h6>
    <div id="profile-list-right" class="py-2">
      <div class="card rounded mb-2">
        <div class="card-body p-3">
          <div class="media">
            <img src="{% static 'innogrApp/images/faces/face5.jpg' %}" alt="image" class="img-sm mr-3 rounded-circle">
            <div class="media-body">
              <h6 class="mb-1">Keto Philip</h6>
              <p class="mb-0 text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum maiores, sint quos
                perferendis itaque libero doloribus alias minus vero laudantium ea excepturi nam, magnam animi
                possimus reiciendis dolor incidunt atque.
              </p>
              <p class="small text-muted mt-2 mb-0">
                <span>
                  <i class="fa fa-star mr-1"></i>4
                </span>
                <span class="ml-2">
                  <i class="fa fa-comment mr-1"></i>11
                </span>
                <span class="ml-2">
                  <i class="fa fa-mail-reply"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card rounded mb-2">
        <div class="card-body p-3">
          <div class="media">
            <img src="{% static 'innogrApp/images/faces/face6.jpg' %}" alt="image" class="img-sm mr-3 rounded-circle">
            <div class="media-body">
              <h6 class="mb-1">Jacob Stephen</h6>
              <p class="mb-0 text-muted">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur modi error fugit fuga,
                consequatur, similique unde porro id esse magnam quas natus tempore. Amet repellendus optio
                harum delectus nam modi?
              </p>
              <p class="small text-muted mt-2 mb-0">
                <span>
                  <i class="fa fa-star mr-1"></i>4
                </span>
                <span class="ml-2">
                  <i class="fa fa-comment mr-1"></i>11
                </span>
                <span class="ml-2">
                  <i class="fa fa-mail-reply"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card rounded mb-2">
        <div class="card-body p-3">
          <div class="media">
            <img src="{% static 'innogrApp/images/faces/face7.jpg' %}" alt="image" class="img-sm mr-3 rounded-circle">
            <div class="media-body">
              <h6 class="mb-1">March Creg</h6>
              <p class="mb-0 text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, veniam rem facilis repellat
                accusamus dicta modi dolores id nam magnam atque odio mollitia et minus, quibusdam, quod
                delectus dolorum quaerat!
              </p>
              <p class="small text-muted mt-2 mb-0">
                <span>
                  <i class="fa fa-star mr-1"></i>4
                </span>
                <span class="ml-2">
                  <i class="fa fa-comment mr-1"></i>11
                </span>
                <span class="ml-2">
                  <i class="fa fa-mail-reply"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card rounded mb-2">
        <div class="card-body p-3">
          <div class="media">
            <img src="{% static 'innogrApp/images/faces/face8.jpg' %}" alt="image" class="img-sm mr-3 rounded-circle">
            <div class="media-body">
              <h6 class="mb-1">Peter Beckham</h6>
              <p class="mb-0 text-muted">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque quis quidem amet beatae
                adipisci cumque quisquam, rerum unde nostrum asperiores consequuntur ex? Exercitationem totam
                dicta culpa libero quisquam eveniet. Fugiat.
              </p>
              <p class="small text-muted mt-2 mb-0">
                <span>
                  <i class="fa fa-star mr-1"></i>4
                </span>
                <span class="ml-2">
                  <i class="fa fa-comment mr-1"></i>11
                </span>
                <span class="ml-2">
                  <i class="fa fa-mail-reply"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock pagebody %}